
    <div class="categories">
        <h5>Categories</h5>
        <ul>
            <li><a href="/blog/categories/OpenStack">Openstack</a></li>
            <li><a href="/blog/categories/Database">Database</a></li>
            <li><a href="/blog/categories/Oracle">Oracle</a></li>
            <li><a href="/blog/categories/Salesforce">Salesforce</a></li>
            <li><a href="/blog/categories/Developers">Developers and DevOps</a></li>
            <li><a href="/blog/categories/Security">Security</a></li>
            <li><a href="/blog/categories/Cloud-Servers">Cloud Servers</a></li>
            <li><a href="/blog/categories/General">General</a></li>
        </ul>
    </div>