<div class="spin-up">
    <div class="spin-up-container">
        <h2>Spin Up &nbsp; <span class="txt-rotate" data-period="2000" data-rotate='["OnMetal Servers", "Containers", "MongoDB", "ElasticSearch"]'></span> &nbsp; Easier <br> with Rackspace</h2>
        <br>
        <p class="tagline">From innovative products to a full suite of reliable cloud products, Rackspace has the right infrastructure to finish your next project. <br> <a href="https://cart.rackspace.com/cloud" class="get-started">Sign up</a> <a href="https://www.rackspace.com/special-offers" class="general-campaign">Check out our limited time product trials and offers</a></p>
    </div>
</div>