@import "color";
@import "mixin";

@import "blog";
@import "home";
@import "sdk";
@import "devtrial";




body {
    background: white;
    font-family: "Source Sans Pro";
    font-weight: 400;
}

a {
    color: @hugeblue;
}

.bodyitem {
    width: 940px;
    margin: auto;
}


.header {

    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    opacity: .85;
    background: black;
    color: white;

    &:hover {
        opacity: 1;
    }

    .inner {

        width: 940px;
        margin: auto;
        padding: 10px;
    
        .title {
            display: block;
            line-height: 20px;
            color: white;
            float: left;
            text-decoration: none;
            .smallcapped;
            font-size: .9em;
            font-weight: 600;

            padding-left: 23px;
            background: url(../img/rs-logo.svg) no-repeat left center;
            background-size: contain;
        }

        ul {
            float: right;

            li {
                display: inline-block;
                margin-left: 25px;

                a {
                    color: #d9d9d9;
                    text-decoration: none;
                    font-size: .9em;
                    line-height: 20px;

                    &:hover,
                    &.selected {
                        color: white;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.footer {
    text-align: center;
    padding : 100px;
    background : #1a1a1a;
    color: #666;
    margin-top: 80px;
}










