
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  {{- if .Params.slug -}}
  "url": "{{- .Params.slug -}}"
  {{- else if .Site.Params.slug -}}
  "url": "{{- .Site.Params.slug -}}"
  {{- else -}}
  "url": "{{- .Slug -}}"
  {{- end -}}
  {{- if .Site.Params.Author -}}
  "author": {
    "@type": "Person",
    "name": "{{- .Site.Params.Author -}}"
  }
  {{- else if .Params.Author -}}
  "author": {
    "@type": "Person",
    "name": "{{- .Params.Author -}}"
  }
  {{- else -}}
  "author": {
    "@type": "Person",
    "name": "{{- .Author -}}"
  }
  {{- end -}}
  {{- if .Site.Params.summary -}}
  "description": "{{- .Site.Params.Summary -}}
  {{- else if .Params.summary -}}
  "description": "{{- .Params.Summary -}}
  {{- else -}}
  "description": "{{- .Summary -}}
  {{- end -}}
  {{- if .Site.Params.date -}}
  "datePublished": "{{- .Site.Params.date -}}
  {{- else if .Params.date -}}
  "datePublished": "{{- .Params.date -}}
  {{- else -}}
  "datePublished": "{{- .Date -}}
  {{- end -}}
  "title": "{{- .Site.Title -}}"
}
</script>
