
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  {{- if .Params.slug -}}
  "url": "{{- .Params.slug -}}",
  {{- else if .Site.Params.slug -}}
  "url": "{{- .Site.Params.slug -}}",
  {{- end -}}
  {{- if .Site.Params.author -}}
  "author": {
    "@type": "Person",
    "name": "{{- .Site.Params.author -}}"
  },
  {{- else if .Params.author -}}
  "author": {
    "@type": "Person",
    "name": "{{- .Params.author -}}"
  },
  {{- end -}}
  {{- if .Site.Params.summary -}}
  "description": "{{- .Site.Params.summary -}}",
  {{- else if .Params.summary -}}
  "description": "{{- .Params.summary -}}",
  {{- else -}}
  "description": "{{- .Summary -}}",
  {{- end -}}
  {{- if .Site.Params.date -}}
  "datePublished": "{{- .Site.Params.date -}}",
  {{- else if .Params.date -}}
  "datePublished": "{{- .Params.date -}}",
  {{- end -}}
  {{- if .Site.Params.categories -}}
  "category": "{{- .Site.Params.categories -}}",
  {{- else if .Params.categories -}}
  "category": "{{- .Params.categories -}}",
  {{- end -}}
  "title": "{{- .Site.Title -}}"
}
</script>
