.spin-up {
    background-image: url(/img/misc-banner.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    padding: 180px 60px 120px 35px;
    h2 {
        font-family: 'titillium-light',arial,sans-serif;
        font-style: normal;
        font-weight: 400;
        color: #fff;
        display: block;
        font-size: 250%;
        text-align: center;
        text-shadow: 0 0 2px rgba(0,0,0,.3);
        text-transform: uppercase;
        padding: 0;
        width: auto;
        .txt-rotate {
            text-decoration: underline;
        }
    }
    [data-headline-typer] {
        display: inline-block;
        min-width: 10em;
        font-family: 'titillium-regular',arial,sans-serif;
        font-style: normal;
        font-weight: 400;
        border-bottom: solid 2px #fff;
        display: block;
        font-size: 1.5rem;
        margin: .5em auto;
        .word {
            line-height: 1;
        }
        .word::after {
            animation: blink 1s infinite linear;
            background: #fff;
            content: "";
            display: inline-block;
            height: 1em;
            margin-left: .1em;
            vertical-align: top;
            width: 1px;
        }
    }
    .tagline {
        margin: 0 auto;
        max-width: 760px;
        color: #fff;
        font-size: 1.5rem;
        display: block;
        text-align: center;
        text-transform: none;
        .get-started {
            border-radius: 1px;
            display: inline-block;
            -webkit-transition: background .1s ease-in-out;
            -ms-transition: background .1s ease-in-out;
            transition: background .1s ease-in-out;
            background: #3498db;
            border: 1px solid #2f89c5;
            color: #fff;
            font-size: 16px;
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'open-sans-regular',arial,sans-serif;
            padding: 1em 3em;
            letter-spacing: .04em;
            margin-top: 2em;
            font-style: normal;
            font-weight: 400;
        }
        .general-campaign {
            transition: background .1s ease-in-out;
            background: #3498db;
            border: 1px solid #2f89c5;
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
            display: block;
            border-radius: 1px;
            -webkit-transition: background .1s ease-in-out;
            -ms-transition: background .1s ease-in-out;
            text-decoration: none;
            font-family: open-sans-regular,arial,sans-serif;
            padding: 1em 3em;
            letter-spacing: .04em;
            margin-top: 2em;
            font-style: normal;
            font-weight: 400;
        }
    }
    
}