<div class="container">
    
    <div class="row">
        <h1>Product Landscape</h1>
        <p>There are a mix of suitable product offerings for data projects at Rackspace. We have encapsulated the options here to make finding a suitable place to host your data easier.</p>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h3><a href="http://www.objectrocket.com">ObjectRocket by Rackspace</a></h3>
            <h4>ObjectRocket is a fully managed, all-in-one offering.</h4>
            <ul>
                <li>MongoDB</li>
                <li>Redis</li>
                <li><a href="http://www.rackspace.com/cloud/big-data">Hadoop</a></li>
                <li><a href="http://www.rackspace.com/cloud/databases">MySQL</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3><a href="http://www.rackspace.com/cloud/private">Private Cloud</a></h3>
            <h4>Fully customizable, dedicated, on or off premise options.</h4>
            Run any database on Rackspace Private Cloud. Single-tenant VMWare&reg;vCloud&reg; or Microsoft&copy; Cloud OS or OpenStack based environments.

        </div>
        <div class="col-md-3">
            <h3><a href="http://www.rackspace.com/cloud">Managed Cloud</a></h3>
            <h4>Cloud performance servers, raw infrastructure for DIY.</h4>
            Run any database on Rackspace Manage Cloud. You can use these <a href="http://www.rackspace.com/cloud/orchestration">deployments</a> to get started or build them up yourself using <a href="http://www.rackspace.com/cloud/servers/onmetal">onMetal</a> with PCIe flash or <a href="http://www.rackspace.com/cloud/servers">Cloud Performance Servers</a> including SSD options.
        </div>
        <div class="col-md-3">
            <h3><a href="http://www.rackspace.com/dba-services">DBA Services</a></h3>
            <h4>DBA managed infrastructure, typically on Private Cloud.</h4>
            <ul>
                <li>Oracle&reg;</li>
                <li>SQL Server&reg;</li>
                <li>MySQL</li>
            </ul>
        </div>
    </div>

</div>
