{% javascript app %}

{% assign data_categories = "MySQL|PostgreSQL|MongoDB|Redis|Hadoop|Oracle|SQLServer|ElasticSearch" | split: "|" %}

<div class="container database-products">

    <div class="col-md-1"></div>

    <div role="tabpanel">
        <ul class="col-md-3 databases-products-left" role="tablist" id="tabs" data-tabs="tabs">

            {% for category in data_categories %}

                {% if category contains "MySQL" %}
                    {% assign class="databases-products-bin-selected" %}
                {% else %}
                    {% assign class="databases-products-bin" %}
                {% endif %}

                <li role="presentation" id="button_{{category}}" class="{{class}}">
                    <a href="#{{category}}" aria-controls="{{category}}" role="tab" data-toggle="tab">{{category}}</a>
                </li>

            {% endfor %}

        </ul>
    </div>

    <div class="col-md-7 tab-content databases-products-bin-right">

        <!-- mysql -->
        <div role="tabpanel" class="tab-pane active" id="MySQL">
            {% include databases-mysql.html %}
        </div>

        <!-- postgresql -->
        <div role="tabpanel" class="tab-pane" id="PostgreSQL">
            {% include databases-postgresql.html %}
        </div>

        <!-- mongodb -->
        <div role="tabpanel" class="tab-pane" id="MongoDB">
            {% include databases-mongodb.html %}

        </div>

        <!-- redis -->
        <div role="tabpanel" class="tab-pane" id="Redis">
            {% include databases-redis.html %}
        </div>

        <!-- hadoop -->
        <div role="tabpanel" class="tab-pane" id="Hadoop">
            {% include databases-hadoop.html %}

        </div>

        <!-- Oracle -->
        <div role="tabpanel" class="tab-pane" id="Oracle">
            {% include databases-oracle.html %}

        </div>

        <!-- SQLServer -->
        <div role="tabpanel" class="tab-pane" id="SQLServer">
            {% include databases-sqlserver.html %}

        </div>

        <!-- elasticsearch -->
        <div role="tabpanel" class="tab-pane" id="ElasticSearch">
            {% include databases-elasticsearch.html %}
        </div>

    </div>

</div>


<script type="text/javascript">
    $(document).ready(function(){

        function unset_all_selections(){

            {% for category in data_categories %}
                $("#button_{{category}}").removeClass("databases-products-bin-selected").addClass("databases-products-bin");
            {% endfor %}

        }

        function set_selection(class_name){
            $(class_name).removeClass("databases-products-bin").addClass("databases-products-bin-selected");
        }

        {% for category in data_categories %}

            $('#button_{{category}} a').click(function(){
                unset_all_selections();
                set_selection('#button_{{category}}');
            });

        {% endfor %}

    });

</script>
