<div class="databases-product-well">
    <img class="databases-product-image" src="{% asset_path apache-hadoop-logo.png %}" alt="Hadoop">

    <p class="databases-well-text">
    Hadoop is a free, Java-based programming framework that supports the processing of large data sets in a distributed computing environment.
    It is part of the Apache project sponsored by the Apache Software Foundation.
    </p>

    <ul class="piped-list">
        <li><a href="/blog/categories/hadoop/">Blog Posts</a></li>
        <li><a href="https://docs.rackspace.com/cbd/api/v1.0/cbd-getting-started/content/DB_Doc_Change_History.html">Getting Started</a></li>
        <li><a href="https://docs.rackspace.com/cbd/api/v1.0/cbd-devguide/content/overview.html">API Developer Guide</a></li>
        <li><a href="http://hadoop.apache.org/#Download+Hadoop">Downloads</a></li>
    </ul>

    <p class="databases-product-heading">Key Attributes</p>
    <ul>
        <li>Data Science/Analytics</li>
        <li>Extreme data set sizes, parallel processing workloads.</li>
        <li>HDFS for storage and Map Reduce for processing</li>
    </ul>

    <p class="databases-product-heading">Running Hadoop at Rackspace</p>

    <div class="databases-product-desc">
    <span class="databases-product-title">Managed Cloud</span>
    <ul class="piped-list">
        <li><a href="http://www.rackspace.com/cloud">Overview</a></li>
        <li><a href="http://www.rackspace.com/cloud/public-pricing">Pricing</a></li>
        <li><a href="http://www.rackspace.com/knowledge_center/article/getting-started-with-apache-hadoop-on-rackspace-cloud">Getting Started</a></li>
    </ul>
    </div>

    <div class="databases-product-desc">
    <span class="databases-product-title">Rackspace Cloud Big Data</span>
    <ul class="piped-list">
        <li><a href="http://www.rackspace.com/cloud/big-data">Overview</a></li>
        <li><a href="http://www.rackspace.com/cloud/big-data/features/">Features</a></li>
    </ul>
    </div>

    <div class="databases-product-desc">
    <span class="databases-product-title">Private Cloud</span>
    <ul class="piped-list">
        <li><a href="http://www.rackspace.com/cloud/private">Overview</a></li>
    </ul>
    </div>

</div>
