<div class="databases-product-well">
    <img class="databases-product-image" src="{% asset_path elastic-search-logo.png %}" alt="ElasticSearch">

    <p class="databases-well-text">
    Elasticsearch is a search server based on Lucene. It provides a distributed, multitenant-capable full-text search engine
    with a RESTful web interface and schema-free JSON documents. Elasticsearch is developed in Java and is released as open
    source under the terms of the Apache License.
    </p>

    <ul class="piped-list">
        <li><a href="/blog/categories/elasticsearch/">Blog Posts</a></li>
        <li><a href="http://www.elasticsearch.org/guide/en/elasticsearch/guide/current/getting-started.html">Getting Started</a></li>
        <li><a href="http://www.elasticsearch.org/guide/">ElasticSearch Docs</a></li>
        <li><a href="http://www.elasticsearch.org/overview/elkdownloads/">Downloads</a></li>
        <li><a href="https://groups.google.com/forum/?fromgroups#!forum/elasticsearch">Mailing List</a></li>
    </ul>

    <p class="databases-product-heading">Key Attributes</p>
    <ul>
        <li>Distributed restful search and analytics</li>
        <li>Simple JSON based query language</li>
        <li>Schemaless, Flexible schema</li>
    </ul>

    <p class="databases-product-heading">Running ElasticSearch at Rackspace</p>

    <div class="databases-product-desc">
    <span class="databases-product-title">Managed Cloud</span>
    <ul class="piped-list">
        <li><a href="http://www.rackspace.com/cloud">Overview</a></li>
        <li><a href="http://www.rackspace.com/cloud/public-pricing">Pricing</a></li>
    </ul>
    </div>

    <div class="databases-product-desc">
    <span class="databases-product-title">Private Cloud</span>
    <ul class="piped-list">
        <li><a href="http://www.rackspace.com/cloud/private">Overview</a></li>
    </ul>
    </div>

    <div class="databases-product-desc">
    <span class="databases-product-title">DBA Services</span>
    <ul class="piped-list">
        <li><a href="http://www.rackspace.com/managed_hosting/services/database">Overview</a></li>
    </ul>
    </div>
</div>
