<div class="databases-product-well">
    <img class="databases-product-image" src="{% asset_path ms-sql-logo.png %}" alt="SQLServer">

    <p class="databases-well-text">
    Microsoft SQL Server is a relational database management system developed by Microsoft Corporation.
    </p>

    <ul class="piped-list">
        <li><a href="http://msdn.microsoft.com/en-us/library/bb545450.aspx">Getting Started</a></li>
        <li><a href="http://social.technet.microsoft.com/wiki/contents/articles/984.sql-server-developer-resources.aspx">Developer Resources</a></li>
        <li><a href="http://technet.microsoft.com/en-us/sqlserver/default">Information and Downloads</a></li>
    </ul>

    <p class="databases-product-heading">Key Attributes</p>
    <ul>
        <li>Relational database management system</li>
        <li>Large installed base, generally larger companies</li>
        <li>Runs on Windows exclusively</li>
        <li>Deep partner and packaged application adoption</li>
        <li>T-SQL data processing language extensions to SQL</li>
    </ul>

    <p class="databases-product-heading">Running SQL Server at Rackspace</p>

    <div class="databases-product-desc">
    <span class="databases-product-title">Private Cloud</span>
    <ul class="piped-list">
        <li><a href="http://www.rackspace.com/cloud/private">Overview</a></li>
    </ul>
    </div>

    <div class="databases-product-desc">
    <span class="databases-product-title">DBA Services</span>
    <ul class="piped-list">
        <li><a href="http://www.rackspace.com/managed_hosting/services/database">Overview</a></li>
    </ul>
    </div>

</div>
