<div class="databases-product-well">
    <img class="databases-product-image" src="{% asset_path postgre-sql-logo.png %}"  alt="PostreSQL">

    <p class="databases-well-text">
    PostgreSQL is an open source relational database management system ( DBMS ) developed
    by a worldwide team of volunteers. PostgreSQL is not controlled by any corporation or other private entity and the source code
    is available free of charge.
    </p>

    <ul class="piped-list">
        <li><a href="/blog/categories/postgresql/">Blog Posts</a></li>
        <li><a href="http://www.postgresql.org/docs/9.4/interactive/index.html">PostgreSQL Docs</a></li>
        <li><a href="http://www.postgresql.org/download/">Download</a></li>
        <li><a href="https://wiki.postgresql.org/wiki/Simple_Configuration_Recommendation">Best Practices</a></li>
        <li><a href="http://www.postgresql.org/list/">Mailing Lists</a></li>
    </ul>

    <p class="databases-product-heading">Key Attributes</p>
    <ul>
        <li>Relational database (RDBMS)</li>
        <li>Free software license</li>
        <li>Runs on linux, FreeBSD, Solaris, Mac OS X</li>
        <li>SQL:2011, ACID compliant, MVCC</li>
    </ul>

    <p class="databases-product-heading">Running PostgreSQL at Rackspace</p>

    <div class="databases-product-desc">
    <span class="databases-product-title">Managed Cloud</span>
    <ul class="piped-list">
        <li><a href="http://www.rackspace.com/cloud">Overview</a></li>
        <li><a href="http://www.rackspace.com/cloud/public-pricing">Pricing</a></li>
        <li><a href="https://github.com/rackspace-cookbooks/rackspace_postgresql">Cookbooks</a></li>
        <li><a href="http://docs.ansible.com/list_of_database_modules.html#postgresql">Ansible Modules</a></li>
    </ul>
    </div>

    <div class="databases-product-desc">
    <span class="databases-product-title">Private Cloud</span>
    <ul class="piped-list">
        <li><a href="http://www.rackspace.com/cloud/private">Overview</a></li>
    </ul>
    </div>

</div>
