<div class="databases-product-well">
    <img class="databases-product-image" src="{% asset_path cassandra_logo.png %}" alt="Hadoop">

    <p class="databases-well-text">
      Apache Cassandra is an open source, column-store database. Its masterless, shared-nothing architecture provides operational database applications with near-constant uptime and simple, linear scalability. Cassandra provides for a flexible data model capable of storing modern datatypes - structured, semi-structured and unstructured - that run through today's web/mobile applications.
   </p>

    <ul class="piped-list">
        <li><a href="/blog/categories/cassandra/">Blog Posts</a></li>
        <li><a href="http://blog.rackspace.com/cassandra-expertise-when-you-need-it-most/">Getting Started</a></li>
        <li><a href="https://github.com/rackerlabs/ansible-dse">Devops Guide</a></li>
        <li><a href="http://cassandra.apache.org/download/">Downloads</a></li>
    </ul>

    <p class="databases-product-heading">Key Attributes</p>
    <ul>
        <li>Linear Scalability</li>
        <li>Flexible and dynamic data model</li>
        <li>Decentralized - no single point of failure</li>
    </ul>

    <p class="databases-product-heading">Running Cassandra at Rackspace</p>

    <div class="databases-product-desc">
    <span class="databases-product-title">Managed Cloud</span>
    <ul class="piped-list">
        <li><a href="http://www.rackspace.com/cloud">Overview</a></li>
        <li><a href="http://www.rackspace.com/cloud/public-pricing">Pricing</a></li>
        <li><a href="http://www.rackspace.com/knowledge_center/article/getting-started-with-apache-hadoop-on-rackspace-cloud">Getting Started</a></li>
    </ul>
    </div>

    <div class="databases-product-desc">
    <span class="databases-product-title">Rackspace Managed Cassandra</span>
    <ul class="piped-list">
        <li><a href="http://www.rackspace.com/data/managed-nosql/cassandra-hosting">Overview</a></li>
    </ul>
    </div>

    <div class="databases-product-desc">
    <span class="databases-product-title">Private Cloud</span>
    <ul class="piped-list">
        <li><a href="http://www.rackspace.com/cloud/private">Overview</a></li>
    </ul>
    </div>

</div>
