<div class="databases-product-well">
    <img class="databases-product-image" src="{% asset_path oracle-logo.png %}" alt="Oracle">

    <p class="databases-well-text">
    The Oracle Database is an object-relational database management system produced and marketed by Oracle Corporation.
    </p>

    <ul class="piped-list">
        <li><a href="http://docs.oracle.com/database/121/index.htm">Getting Started</a></li>
        <li><a href="http://docs.oracle.com/en/database/database.html">Oracle Docs</a></li>
        <li><a href="http://docs.oracle.com/database/121/nav/portal_5.htm">Developer Guide</a></li>
        <li><a href="http://www.oracle.com/technetwork/database/enterprise-edition/downloads/index-092322.html">Downloads</a></li>
    </ul>

    <p class="databases-product-heading">Key Attributes</p>
    <ul>
        <li>Relational database management system</li>
        <li>Large installed base, generally larger companies</li>
        <li>Rich ecosystem, community and history</li>
        <li>Deep partner and packaged application adoption</li>
        <li>Runs on Linux,Solaris,Windows,AIX,HP/UX, and more</li>
        <li>PL/SQL data processing language extensions to SQL</li>
    </ul>

    <p class="databases-product-heading">Running Oracle at Rackspace</p>

    <div class="databases-product-desc">
    <span class="databases-product-title">Private Cloud</span>
    <ul class="piped-list">
        <li><a href="http://www.rackspace.com/cloud/private">Overview</a></li>
    </ul>
    </div>

    <div class="databases-product-desc">
    <span class="databases-product-title">DBA Services</span>
    <ul class="piped-list">
        <li><a href="http://www.rackspace.com/managed_hosting/services/database">Overview</a></li>
    </ul>
    </div>

</div>
