<div class="databases-product-well">
    <img class="databases-product-image" src="{% asset_path my-sql-logo.png %}" alt="MySQL">

    <p class="databases-well-text">
    MySQL is an open source relational database management system. It has a massive ecosystem of compatible
    drivers, services, plugins and add-ons. MySQL has a pluggable engine architecture, and requires very little
    management.
    </p>

    <ul class="piped-list">
        <li><a href="/blog/categories/mysql/">Blog Posts</a></li>
        <li><a href="http://dev.mysql.com/usingmysql/get_started.html">Getting Started</a></li>
        <li><a href="http://dev.mysql.com/doc/">MySQL Docs</a></li>
        <li><a href="http://dev.mysql.com/downloads/">Downloads</a></li>
    </ul>

    <p class="databases-product-heading">Key Attributes</p>
    <ul>
        <li>Relational database (RDBMS)</li>
        <li>GPL License (Community Edition)</li>
        <li>Runs on linux, Windows</li>
        <li>Broad packaged application backend compatibility</li>
        <li>Pluggable engine architecture</li>
    </ul>

    <p class="databases-product-heading">Running MySQL at Rackspace</p>

    <div class="databases-product-desc">
    <span class="databases-product-title">Managed Cloud</span>
    <ul class="piped-list">
        <li><a href="http://www.rackspace.com/cloud">Overview</a></li>
        <li><a href="http://www.rackspace.com/cloud/public-pricing">Pricing</a></li>
        <li><a href="http://www.rackspace.com/knowledge_center/article/installing-mysql-server-on-centos">Installation</a></li>
        <li><a href="https://github.com/rackspace-orchestration-templates/mysql-multi">Templates</a></li>
        <li><a href="http://docs.ansible.com/list_of_database_modules.html#mysql">Ansible Modules</a></li>
    </ul>
    </div>

    <div class="databases-product-desc">
    <span class="databases-product-title">Cloud Databases</span>
    <ul class="piped-list">
        <li><a href="http://www.rackspace.com/cloud/databases">Overview</a></li>
        <li><a href="http://www.rackspace.com/cloud/databases/resources/">Resources</a></li>
        <li><a href="https://docs.rackspace.com/cdb/api/v1.0/cdb-devguide/content/overview.html">Developers Guide</a></li>
    </ul>
    </div>

    <div class="databases-product-desc">
    <span class="databases-product-title">Private Cloud</span>
    <ul class="piped-list">
        <li><a href="http://www.rackspace.com/cloud/private">Overview</a></li>
    </ul>
    </div>

    <div class="databases-product-desc">
    <span class="databases-product-title">DBA Services</span>
    <ul class="piped-list">
        <li><a href="http://www.rackspace.com/managed_hosting/services/database">Overview</a></li>
    </ul>
    </div>

</div>
