<div id="service_managed">
    <span class="databases-product-title">Fully Managed, as a Service</span>
    <p class="databases-product-desc-text">ObjectRocket is a fully managed, high-performance, end-to-end solution. Great
    for high performance, large, tricky, or busy datasets. A higher price point and 100% managed.</p>
    <ul class="piped-list">
        <li><a href="#">Getting Started</a></li>
        <li><a href="#">API Reference</a></li>
        <li><a href="#">Blog Posts</a></li>
    </ul>
</div>
