<div class="databases-quotes">
    <div class="container">
        <p>
        90% of all the data in the world has been created in the last two years <a href="http://www.ibm.com/smarterplanet/us/en/business_analytics/article/it_business_intelligence.html" target=0>*</a>. The field of data, data science, and databases is exploding. At Rackspace we see this explosion first hand. We've compiled a resource to help you make some sense of it.
        </p>
    </div>
    <div class="container databases-video-pane">
 big_video_here
    </div>
</div>
