<!-- temp -->
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


<div class="container database-products">

    <div role="tabpanel">
        <ul class="col-md-2 databases-products-left" role="tablist">
            <li role="presentation" class="databases-products-bin-selected"><a href="#mysql" aria-controls="mysql" role="tab" data-toggle="tab">MySQL</a></li>
            <li role="presentation" class="databases-products-bin"><a href="#postgresql" aria-controls="postgresql" role="tab" data-toggle="tab">PostgreSQL</a></li>
            <li role="presentation" class="databases-products-bin"><a href="#mongo" aria-controls="mongo" role="tab" data-toggle="tab">MongoDB</a></li>
            <li role="presentation" class="databases-products-bin"><a href="#cassandra" aria-controls="cassandra" role="tab" data-toggle="tab">Cassandra</a></li>
            <li role="presentation" class="databases-products-bin"><a href="#redis" aria-controls="redis" role="tab" data-toggle="tab">Redis</a></li>
            <li role="presentation" class="databases-products-bin"><a href="#hadoop" aria-controls="hadoop" role="tab" data-toggle="tab">Hadoop</a></li>
            <li role="presentation" class="databases-products-bin"><a href="#spark" aria-controls="spark" role="tab" data-toggle="tab">Spark</a></li>
            <li role="presentation" class="databases-products-bin"><a href="#oracle" aria-controls="oracle" role="tab" data-toggle="tab">Oracle&reg;</a></li>
            <li role="presentation" class="databases-products-bin"><a href="#sqlserver" aria-controls="sqlserver" role="tab" data-toggle="tab">SQL Server&reg;</a></li>
            <li role="presentation" class="databases-products-bin"><a href="#elasticsearch" aria-controls="elasticsearch" role="tab" data-toggle="tab">Elastic Search</a></li>
        </ul>
    </div>

    <div class="col-md-10 tab-content databases-products-bin-right">

        <!-- mysql -->
        <div role="tabpanel" class="tab-pane active" id="mysql">
            <div class="databases-product-well">
                <img class="databases-product-image" src="{% asset_path my-sql-logo.png %}" alt="MongoDB">

                <p class="databases-well-text">
                MySQL is an open source relational database management system. It has a massive ecosystem of compatible
                drivers, services, plugins and add-ons. MySQL has a pluggable engine architecture, and requires very little
                management.
                </p>

                <ul class="piped-list">
                    <li><a href="blog/categories/mongodb/">Blog Posts</a></li>
                    <li><a href="#">Getting Started</a></li>
                    <li><a href="#">API Reference</a></li>
                    <li><a href="#">Developer Guide</a></li>
                </ul>

                <p class="databases-product-heading">Key Attributes</p>
                <ul>
                    <li>Relational Database (RDBMS)</li>
                    <li>Transactions</li>
                    <li>Broad packaged application backend compatibility</li>
                    <li>Pluggable engine architecture</li>
                </ul>

                <p class="databases-product-heading">Products and Services</p>
                <ul>
                    <li>{% include databases-product-public.html %}</li>
                    <li>{% include databases-product-private.html %}</li>
                    <li>{% include databases-product-managed.html %}</li>
                    <li>{% include databases-product-dbaservices.html %}</li>
                </ul>

            </div>
        </div>

        <!-- postgresql -->
        <div role="tabpanel" class="tab-pane" id="postgresql">
            <div class="databases-product-well">
                <img class="databases-product-image" src="{% asset_path postgre-sql-logo.png %}" alt="PostreSQL">

                <p class="databases-well-text">
                PostgreSQL is an open source relational database management system ( DBMS ) developed
                by a worldwide team of volunteers. PostgreSQL is not controlled by any corporation or other private entity and the source code
                is available free of charge.
                </p>

                <ul class="piped-list">
                    <li><a href="blog/categories/mongodb/">Blog Posts</a></li>
                    <li><a href="#">Getting Started</a></li>
                    <li><a href="#">API Reference</a></li>
                    <li><a href="#">Developer Guide</a></li>
                </ul>

                <p class="databases-product-heading">Key Attributes</p>
                <ul>
                    <li>Relational Database (RDBMS)</li>
                    <li>Transactions</li>
                    <li></li>
                </ul>

                <p class="databases-product-heading">Products and Services</p>
                <ul>
                    <li>{% include databases-product-public.html %}</li>
                    <li>{% include databases-product-private.html %}</li>
                </ul>

            </div>
        </div>

        <!-- mongodb -->
        <div role="tabpanel" class="tab-pane" id="mongo">
            <div class="databases-product-well">
                <img class="databases-product-image" src="{% asset_path mongo-db-logo.png %}" alt="MongoDB">

                <p class="databases-well-text">
                MongoDB is a document database. It's schema-less, includes constructs for high availability and has built in horizontal scaling.
                It has a deep community and rich driver ecosystem to work with just about any popular language.
                </p>

                <ul class="piped-list">
                    <li><a href="blog/categories/mongodb/">Blog Posts</a></li>
                    <li><a href="#">Getting Started</a></li>
                    <li><a href="#">API Reference</a></li>
                    <li><a href="#">Developer Guide</a></li>
                </ul>

                <p class="databases-product-heading">Key Attributes</p>
                <ul>
                    <li>Projects built using JSON structures</li>
                    <li>Dynamic schema's</li>
                    <li>Mobile, Gaming, and Content Management</li>
                </ul>

                <p class="databases-product-heading">Products and Services</p>
                <ul>
                    <li>{% include databases-product-public.html %}</li>
                    <li>{% include databases-product-private.html %}</li>
                    <li>{% include databases-product-managed.html %}</li>
                </ul>

            </div>
        </div>

        <!-- cassandra -->
        <div role="tabpanel" class="tab-pane" id="cassandra">
            <div class="databases-product-well">
                <img class="databases-product-image" src="{% asset_path apache-cassandra-logo.png %}" alt="Cassandra">

                <p class="databases-well-text">
                Apache Cassandra is an open source distributed database management system designed to handle large amounts of data across
                many commodity servers, providing high availability with no single point of failure.
                </p>

                <ul class="piped-list">
                    <li><a href="blog/categories/mongodb/">Blog Posts</a></li>
                    <li><a href="#">Getting Started</a></li>
                    <li><a href="#">API Reference</a></li>
                    <li><a href="#">Developer Guide</a></li>
                </ul>

                <p class="databases-product-heading">Key Attributes</p>
                <ul>
                    <li>Projects requiring extremely availability for writes</li>
                    <li>Near linear scalability</li>
                    <li>Time series, general key/value workloads</li>
                </ul>

                <p class="databases-product-heading">Products and Services</p>
                <ul>
                    <li>{% include databases-product-public.html %}</li>
                    <li>{% include databases-product-private.html %}</li>
                </ul>

            </div>
        </div>

        <!-- redis -->
        <div role="tabpanel" class="tab-pane" id="redis">
            <div class="databases-product-well">
                <img class="databases-product-image" src="{% asset_path redis-logo.png %}" alt="Redis">

                <p class="databases-well-text">
                Redis is a data structure server. It is open-source, networked, in-memory, and stores keys with optional durability.
                The development of Redis has been sponsored by Pivotal Software since May 2013; before that, it was sponsored by VMware.
                </p>

                <ul class="piped-list">
                    <li><a href="blog/categories/mongodb/">Blog Posts</a></li>
                    <li><a href="#">Getting Started</a></li>
                    <li><a href="#">API Reference</a></li>
                    <li><a href="#">Developer Guide</a></li>
                    <li><a href="#">Downloads</a></li>

                </ul>

                <p class="databases-product-heading">Key Attributes</p>
                <ul>
                    <li>Key/Value data structures</li>
                    <li>Projects requiring extreme performance</li>
                    <li>Queueing workloads</li>
                </ul>

                <p class="databases-product-heading">Products and Services</p>
                <ul>
                    <li>{% include databases-product-public.html %}</li>
                    <li>{% include databases-product-private.html %}</li>
                    <li>{% include databases-product-managed.html %}</li>
                </ul>

            </div>
        </div>

        <!-- hadoop -->
        <div role="tabpanel" class="tab-pane" id="hadoop">
            <div class="databases-product-well">
                <img class="databases-product-image" src="{% asset_path apache-hadoop-logo.png %}" alt="Hadoop">

                <p class="databases-well-text">
                Hadoop is a free, Java-based programming framework that supports the processing of large data sets in a distributed computing environment.
                It is part of the Apache project sponsored by the Apache Software Foundation.
                </p>

                <ul class="piped-list">
                    <li><a href="blog/categories/mongodb/">Blog Posts</a></li>
                    <li><a href="#">Getting Started</a></li>
                    <li><a href="#">API Reference</a></li>
                    <li><a href="#">Developer Guide</a></li>
                    <li><a href="#">Downloads</a></li>

                </ul>

                <p class="databases-product-heading">Key Attributes</p>
                <ul>
                    <li>Data Science/Analytics</li>
                    <li>Extreme data set sizes, parallel processing workloads.</li>
                </ul>

                <p class="databases-product-heading">Products and Services</p>
                <ul>
                    <li>{% include databases-product-public.html %}</li>
                    <li>{% include databases-product-private.html %}</li>
                    <li>{% include databases-product-managed.html %}</li>
                </ul>

            </div>
        </div>

        <!-- spark -->
        <div role="tabpanel" class="tab-pane" id="spark">
            <div class="databases-product-well">
                <img class="databases-product-image" src="{% asset_path spark-logo.png %}" alt="Spark">

                <p class="databases-well-text">
                Apache Spark is an open-source cluster computing framework originally developed in the AMPLab at UC Berkeley.
                Spark's uses in-memory primitives vs map reduce as it's core architecture.
                </p>

                <ul class="piped-list">
                    <li><a href="blog/categories/mongodb/">Blog Posts</a></li>
                    <li><a href="#">Getting Started</a></li>
                    <li><a href="#">API Reference</a></li>
                    <li><a href="#">Developer Guide</a></li>
                    <li><a href="#">Downloads</a></li>

                </ul>

                <p class="databases-product-heading">Key Attributes</p>
                <ul>
                    <li>Data Science/Analytics</li>
                    <li>Extreme data set sizes, parallel processing workloads</li>
                    <li>In Memory processing architecture</li>
                    <li>Extensions for SQL type queries, loading, and processing</li>
                </ul>

                <p class="databases-product-heading">Products and Services</p>
                <ul>
                    <li>{% include databases-product-public.html %}</li>
                    <li>{% include databases-product-private.html %}</li>
                    <li>{% include databases-product-managed.html %}</li>
                </ul>

            </div>
        </div>

        <!-- Oracle -->
        <div role="tabpanel" class="tab-pane" id="oracle">
            <div class="databases-product-well">
                <img class="databases-product-image" src="{% asset_path oracle-logo.png %}" alt="Oracle">

                <p class="databases-well-text">
                The Oracle Database is an object-relational database management system produced and marketed by Oracle Corporation.
                </p>

                <ul class="piped-list">
                    <li><a href="blog/categories/mongodb/">Blog Posts</a></li>
                    <li><a href="#">Getting Started</a></li>
                    <li><a href="#">API Reference</a></li>
                    <li><a href="#">Developer Guide</a></li>
                    <li><a href="#">Downloads</a></li>

                </ul>

                <p class="databases-product-heading">Key Attributes</p>
                <ul>
                    <li>Relational database management system</li>
                    <li>Large installed base, generally larger companies</li>
                    <li>Rich ecosystem, community and history</li>
                    <li>Deep partner and packaged application adoption</li>
                    <li>PL/SQL data processing language extensions to SQL</li>
                </ul>

                <p class="databases-product-heading">Products and Services</p>
                <ul>
                    <li>{% include databases-product-public.html %}</li>
                    <li>{% include databases-product-private.html %}</li>
                    <li>{% include databases-product-dbaservices.html %}</li>
                </ul>

            </div>
        </div>

        <!-- SQLServer -->
        <div role="tabpanel" class="tab-pane" id="sqlserver">
            <div class="databases-product-well">
                <img class="databases-product-image" src="{% asset_path ms-sql-logo.png %}" alt="SQLServer">

                <p class="databases-well-text">
                Microsoft SQL Server is a relational database management system developed by Microsoft Corporation.
                </p>

                <ul class="piped-list">
                    <li><a href="blog/categories/mongodb/">Blog Posts</a></li>
                    <li><a href="#">Getting Started</a></li>
                    <li><a href="#">API Reference</a></li>
                    <li><a href="#">Developer Guide</a></li>
                    <li><a href="#">Downloads</a></li>

                </ul>

                <p class="databases-product-heading">Key Attributes</p>
                <ul>
                    <li>Relational database management system</li>
                    <li>Large installed base, generally larger companies</li>
                    <li>Runs on Windows exclusively</li>
                    <li>Deep partner and packaged application adoption</li>
                    <li>T-SQL data processing language extensions to SQL</li>
                </ul>

                <p class="databases-product-heading">Products and Services</p>
                <ul>
                    <li>{% include databases-product-public.html %}</li>
                    <li>{% include databases-product-private.html %}</li>
                    <li>{% include databases-product-dbaservices.html %}</li>
                </ul>

            </div>
        </div>

        <!-- elasticsearch -->
        <div role="tabpanel" class="tab-pane" id="elasticsearch">
            <div class="databases-product-well">
                <img class="databases-product-image" src="{% asset_path elastic-search-logo.png %}" alt="ElasticSearch">

                <p class="databases-well-text">
                Elasticsearch is a search server based on Lucene. It provides a distributed, multitenant-capable full-text search engine
                with a RESTful web interface and schema-free JSON documents. Elasticsearch is developed in Java and is released as open
                source under the terms of the Apache License.
                </p>

                <ul class="piped-list">
                    <li><a href="blog/categories/mongodb/">Blog Posts</a></li>
                    <li><a href="#">Getting Started</a></li>
                    <li><a href="#">API Reference</a></li>
                    <li><a href="#">Developer Guide</a></li>
                </ul>

                <p class="databases-product-heading">Key Attributes</p>
                <ul>
                    <li>Full text search indexing engine</li>
                    <li>Simple JSON based query language</li>
                </ul>

                <p class="databases-product-heading">Products and Services</p>
                <ul>
                    <li>{% include databases-product-public.html %}</li>
                    <li>{% include databases-product-private.html %}</li>
                </ul>

            </div>
        </div>


    </div>
