<div class="databases-product-well">
    <img class="databases-product-image" src="{% asset_path redis-logo.png %}" alt="Redis">

    <p class="databases-well-text">
    Redis is a data structure server. It is open-source, networked, in-memory, and stores keys with optional durability.
    The development of Redis has been sponsored by Pivotal Software since May 2013; before that, it was sponsored by VMware.
    </p>

    <ul class="piped-list">
        <li><a href="/blog/categories/redis/">Blog Posts</a></li>
        <li><a href="http://redis.io/documentation">Redis Docs</a></li>
        <li><a href="http://redis.io/download">Downloads</a></li>

    </ul>

    <p class="databases-product-heading">Key Attributes</p>
    <ul>
        <li>Key/Value data structures</li>
        <li>Projects requiring extreme performance</li>
        <li>Queueing workloads</li>
    </ul>

    <p class="databases-product-heading">Running Redis at Rackspace</p>

    <div class="databases-product-desc">
    <span class="databases-product-title">Managed Cloud</span>
    <ul class="piped-list">
        <li><a href="http://www.rackspace.com/cloud">Overview</a></li>
        <li><a href="http://www.rackspace.com/cloud/public-pricing">Pricing</a></li>
        <li><a href="http://www.rackspace.com/knowledge_center/article/redis-faq-0">FAQ</a></li>
        <li><a href="http://docs.ansible.com/redis_module.html">Ansible Modules</a></li>
    </ul>
    </div>

    <div class="databases-product-desc">
    <span class="databases-product-title">ObjectRocket; Redis as a Service</span>
    <ul class="piped-list">
        <li><a href="http://objectrocket.com/redis/">Features and Pricing</a></li>
        <li><a href="https://docs.objectrocket.com/redis.html">ObjectRocket Docs</a></li>
        <li><a href="http://blog.objectrocket.com/">Blog</a></li>
    </ul>
    </div>

    <div class="databases-product-desc">
    <span class="databases-product-title">Private Cloud</span>
    <ul class="piped-list">
        <li><a href="http://www.rackspace.com/cloud/private">Overview</a></li>
    </ul>
    </div>

</div>
