<div class="databases-product-well">
    <img class="databases-product-image" src="{% asset_path mongo-db-logo.png %}" alt="MongoDB">

    <p class="databases-well-text">
    MongoDB is a document database. It's schema-less, includes constructs for high availability and has built in horizontal scaling.
    It has a deep community and rich driver ecosystem to work with just about any popular language.
    </p>

    <ul class="piped-list">
        <li><a href="/blog/categories/mongodb/">Blog Posts</a></li>
        <li><a href="http://docs.mongodb.org/manual/tutorial/getting-started/">Getting Started</a></li>
        <li><a href="http://docs.mongodb.org/manual/">MongoDB Docs</a></li>
        <li><a href="https://github.com/rackspace-orchestration-templates/mongodb-replset">Templates</a></li>
        <li><a href="http://www.mongodb.org/about/community/">Community</a></li>
    </ul>

    <p class="databases-product-heading">Key Attributes</p>
    <ul>
        <li>Document database (JSON/BSON)</li>
        <li>Apache license</li>
        <li>Runs on linux, Mac OS X</li>
        <li>Atomic operations, pluggable engine architecture (2.6+), and aggregation framework</li>
        <li>Mobile, gaming, and content management</li>
    </ul>

    <p class="databases-product-heading">Running MongoDB at Rackspace</p>

    <div class="databases-product-desc">
    <span class="databases-product-title">Managed Cloud</span>
    <ul class="piped-list">
        <li><a href="http://www.rackspace.com/cloud">Overview</a></li>
        <li><a href="http://www.rackspace.com/cloud/public-pricing">Pricing</a></li>
        <li><a href="http://www.rackspace.com/knowledge_center/article/installing-mysql-server-on-centos">Installation</a></li>
        <li><a href="http://blog.objectrocket.com/">Blog</a></li>
        <li><a href="http://docs.ansible.com/list_of_database_modules.html#misc">Ansible Modules</a></li>
    </ul>
    </div>

    <div class="databases-product-desc">
    <span class="databases-product-title">ObjectRocket; MongoDB as a Service</span>
    <ul class="piped-list">
        <li><a href="http://www.objectrocket.com/features">Features</a></li>
        <li><a href="http://www.objectrocket.com/pricing">Pricing</a></li>
        <li><a href="https://docs.objectrocket.com/">ObjectRocket Docs</a></li>
        <li><a href="http://blog.objectrocket.com/">Blog</a></li>
    </ul>
    </div>

    <div class="databases-product-desc">
    <span class="databases-product-title">Private Cloud</span>
    <ul class="piped-list">
        <li><a href="http://www.rackspace.com/cloud/private">Overview</a></li>
    </ul>
    </div>

</div>
