<div id="service_public">
    <span class="databases-product-title">Managed Cloud</span>
    <p class="databases-product-desc-text">Cloud performance servers, raw infrastructure for managing the database yourself.
    This is generally the lowest price point with a simple feature set. Large capacity and SSD options allow
    for tailoring to specific requirements.</p>
    <ul class="piped-list">
        <li><a href="#">Overview</a></li>
        <li><a href="#">Getting Started</a></li>
        <li><a href="#">Code, scripts, tools</a></li>
    </ul>
</div>
