<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h1>We know data</h1>

            <p class="databases-headline-text">90% of all the data in the world has been created in the last two years
                <a href="http://www.ibm.com/smarterplanet/us/en/business_analytics/article/it_business_intelligence.html" target=0>*</a>.
            The field of data, data science, and databases is exploding.</p>

            <p class="databases-headline-text">At Rackspace we see this explosion first hand. We've compiled this technical resource to help
            you make some sense of it.</p>

            <blockquote>Data is a precious thing and will last longer than the systems themselves.
                <footer>Tim Berners-Lee</footer>
            </blockquote>

        </div>
        <div class="col-md-5">
            <iframe width="450" height="250" src="//www.youtube.com/embed/FoXkWJyLShU" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
