
{% assign data_categories = "mariadb|percona|postgresql|mysql|mongodb|hadoop|cassandra|spark|oracle|sql-server|elasticsearch|redis|performance cloud servers|big data" | split: "|" %}

<div class="container">

    <div class="row">
        <h1>Blog posts by data categories</h1>
    </div>

    <div class="row">

        <div class="col-md-9">

            {{ selected_category }}

        {% for post in site.posts %}

            {% assign show_post = false %}

            {% for category in data_categories %}
                {% if post.categories contains category %}
                    {% assign show_post = true %}
                {% endif %}
            {% endfor %}

            {% if show_post %}
            <div class="blog-tease">
              <h3 class="blog-tease-title"><a href="{{ BASE_PATH }}{{ post.url }}">
                {{ post.title }}</a></h3>
              <div class="byline">By {{ post.author }} - Posted on {{ post.date | date: "%b %-d %Y" }} {% for item in post.categories %} {{item}} {% endfor %}
              </div>
              <p>{{post.excerpt}}</p>
              <a href="{{ BASE_PATH }}{{ post.url }}" class="btn btn-primary">Read More</a>
              <hr />
            </div>
            {% endif %}

        {% endfor %}

        </div>
        <div class="col-md-3 well">
            <p class="databases-categories-title">Categories</p>
            <p>

                {% for category in site.categories %}
                <ul>

                    {% assign item = category | first %}

                    {% if data_categories contains item %}
                    <li>
                        <a href="/blog/categories/{{ category | first | replace: ' ', '-' | slugize }}/">
                        {{ category | first }} ( {{ category | last | size }} )
                        </a>
                    </li>
                    {% endif %}

                </ul>
                {% endfor %}

            </p>
        </div>
    </div>
</div>
