<div id="footer" class="clearfix">

  <div id="basement-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <img src="{% asset_path rackerpowered-logo.png %}" alt="Racker Powered">
        </div>
        <div class="col-md-2 col-md-offset-1">©2014 Rackspace, US Inc.</div>
        <div class="col-md-8"><span class="footerlink">
					<a href="http://www.rackspace.com/about/" class="basement">About Rackspace</a>
					</span> |
					<span class="footerlink">
						<a href="http://ir.rackspace.com" class="basement">Investors</a>
					</span> |
					<span class="footerlink">
						<a href="http://www.rackertalent.com" class="basement">Careers</a>
					</span> |
					<span class="footerlink">
						<a href="http://www.rackspace.com/information/legal/privacystatement" class="basement">Privacy Statement</a>
					</span> |
					<span class="footerlink">
						<a href="http://www.rackspace.com/information/legal/websiteterms" class="basement">Website Terms</a>
					</span> |
					<span class="footerlink">
						<a href="http://www.rackspace.com/information/legal/copyrights_trademarks" class="basement">Trademarks</a>
					</span>
        </div>
      </div>
    </div>
  </div>

</div>
