<div id="footer" class="clearfix">

  <div id="fatfooter-wrap" class="container clearfix">
    <div class="row">

      <div class="col-md-2">
        <div class="footer-item-header">Products</div>
        <ul>
          <li><a href="http://www.rackspace.com/cloud/">Public Cloud</a></li>
          <li><a href="http://www.rackspace.com/cloud/private/">Private Cloud</a></li>
          <li><a href="http://www.rackspace.com/cloud/hybrid/">Hybrid Cloud</a></li>
          <li><a href="http://www.rackspace.com/managed-hosting/">Managed Hosting</a></li>
          <li><a href="http://www.rackspace.com/email-hosting/">Email Hosting</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <div class="footer-item-header">Support</div>
        <ul>
          <li><a href="http://support.rackspace.com/">Support Home</a></li>
          <li><a href="http://www.rackspace.com/knowledge_center/">Knowledge Center</a></li>
          <li><a href="https://community.rackspace.com">Rackspace Community</a></li>
          <li><a href="http://docs.rackspace.com/">API Documentation</a></li>
          <li><a href="http://developer.rackspace.com">Developer Center</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <div class="footer-item-header">Control Panels</div>
        <ul>
          <li><a href="https://my.rackspace.com/portal/auth/login">MyRackspace Portal</a></li>
          <li><a href="https://mycloud.rackspace.com">Cloud Control Panel</a></li>
          <li><a href="https://manage.rackspacecloud.com/pages/Login.jsp">Cloud Sites Control Panel</a>
          </li>
          <li><a href="https://apps.rackspace.com">Rackspace Webmail Login</a></li>
          <li><a href="https://cp.rackspace.com">Email Admin Login</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <div class="footer-item-header">About Rackspace</div>
        <div class="row">
          <div class="col-md-6">
            <ul>
              <li><a href="http://www.rackspace.com/about/">Our Story</a></li>
              <li><a href="http://stories.rackspace.com">Case Studies</a></li>
              <li><a href="http://www.rackspace.com/events/">Events</a></li>
              <li><a href="http://www.rackspace.com/programs/">Programs</a></li>
              <li><a href="http://www.rackspace.com/blog/newsroom/">Newsroom</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li><a href="http://www.rackspace.com/blog/">The Rackspace Blog</a></li>
              <li><a href="http://developer.rackspace.com/blog/">DevOps Blog</a></li>
              <li><a href="http://www.rackspace.com/information/contactus/">Contact Information</a></li>
              <li><a href="http://www.rackspace.com/information/legal/">Legal</a></li>
              <li><a href="http://talent.rackspace.com/">Careers</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="basement-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <img src="http://images.cdn.rackspace.com/footer/basement/rackerpowered-logo.png" alt="Racker Powered">
        </div>
        <div class="col-md-2 col-md-offset-1">©2014 Rackspace, US Inc.</div>
        <div class="col-md-8"><span class="footerlink">
					<a href="/about/" class="basement">About Rackspace</a>
					</span> |
					<span class="footerlink">
						<a href="http://ir.rackspace.com" class="basement">Investors</a>
					</span> |
					<span class="footerlink">
						<a href="http://www.rackertalent.com" class="basement">Careers</a>
					</span> |
					<span class="footerlink">
						<a href="/information/legal/privacystatement" class="basement">Privacy Statement</a>
					</span> |
					<span class="footerlink">
						<a href="/information/legal/websiteterms" class="basement">Website Terms</a>
					</span> |
					<span class="footerlink">
						<a href="/information/legal/copyrights_trademarks" class="basement">Trademarks</a>
					</span> |
					<span class="footerlink">
						<a href="/sitemap/" class="basement">Sitemap</a>
					</span>
        </div>
      </div>
    </div>
  </div>

</div>
