<div class="navbar navbar-fixed-top navbar-inverse navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-btn">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">:: Develop</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-btn">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/sdks/">SDKs &amp; Tools</a></li>
        <li><a href="/data/">Database</a></li>
        <li><a href="/docs/">Docs</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/community/">Community</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="https://mycloud.rackspace.com">Control Panel</a></li>
            <li><a href="http://status.rackspace.com">Service Status</a></li>
            <li class="divider"></li>
            <li><a href="http://www.rackspace.com/knowledge_center/">Knowledge Base</a></li>
            <li><a href="https://community.rackspace.com/developers/default">Developer Forums</a></li>
            <li><a href="http://www.rackspace.com/support/">Talk with Support</a></li>
          </ul>
        </li>
        <li><a href="/signup/">Sign Up</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="https://my.rackspace.com/portal/auth/login">MyRackspace Portal</a></li>
            <li><a href="https://mycloud.rackspace.com">Cloud Control Panel</a></li>
            <li><a href="https://manage.rackspacecloud.com/pages/Login.jsp">Cloud Sites Control Panel</a></li>
            <li><a href="https://apps.rackspace.com">Rackspace Webmail Login</a></li>
            <li><a href="https://cp.rackspace.com">Email Admin Login</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
