<div class="header">
<div class="inner clearfix">
  <a class="title" href="/index.html">Rackspace :: Develop</a>
    <ul id="nav-list">
      <li><a href="/main-services.html">Services</a></li>
        <li><a href="/main-sdks.html">Tools &amp; SDKs</a></li>
        <li><a href="/main-docs.html">Documentation</a></li>
        <!-- <li><a href="/main-openstack.html">OpenStack</a></li> -->
        <li><a href="/main-openstack.html">Community &amp; Support</a></li>
        <li><a href="/blog/index.html">Developer Blog</a></li>
        <!-- Given the viewport size; this overflows and causes a line wrap
             We should think about a better universal way of searching or
             removing the button -->
        <li>
          <form>
            <input type="search" name="" id="" placeholder="Search">
            <!-- <input type="submit" name="" value="Search"> -->
          </form>
        </li>
      </ul><!--/nav-list-->
  </div>
</div> <!--/header-->