<div id="header" class="navbar navbar-fixed-top navbar-inverse navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-btn">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand new-landing-sprite rs-developer-logo" href="/"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-btn">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/sdks/">SDKs</a></li>
                <li><a href="/databases/">Databases</a></li>
                <li><a href="/docs/">API Docs</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contribute <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://github.com/rackerlabs/developer.rackspace.com">This site on github</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://support.rackspace.com/how-to/">How-To Articles</a></li>
                        <li><a href="http://status.rackspace.com">System Health Status</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://login.rackspace.com">MyRackspace Portal</a></li>
                        <li><a href="https://login.rackspace.com">Cloud Control Panel</a></li>
                        <li><a href="https://manage.rackspacecloud.com/pages/Login.jsp">Cloud Sites Control Panel</a>
                        </li>
                        <li><a href="https://apps.rackspace.com">Rackspace Webmail Login</a></li>
                        <li><a href="https://cp.rackspace.com">Email Admin Login</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
