<div class="callout">
  <span class="sidebarheader">Need Help?</span>

  <p>Tweet <a target="_blank" href="https://twitter.com/rackspace">@rackspace</a>, chat in #rackspace on Freenode, or post in <a
    target="_blank" href="https://community.rackspace.com/developers/default">our developer
    forums</a>.</p>
</div>

<div class="callout">
  <span class="sidebarheader">Found a bug? Caught a typo?</span>

  <p><a target="_blank" href="https://github.com/rackerlabs/developer.rackspace.com/issues/new">Submit bug reports</a> or contribute through our <a target="blank" href="https://github.com/rackerlabs/developer.rackspace.com">developer site repo</a> on
    GitHub.</p>
</div>