.box {
    text-align: center;
    padding: 80px 0;
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 960px;
        width: 90%;
    }
}
.rack-cli {
    background: #f0f5fc;
    border-top: solid 1px #e0e0e0;
    .cli-grid {
        margin-left: -20px;
        overflow: hidden;
    }
    .cli-image {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        [data-rack-cli-graphic] {
            background-image: url(/img/rack-cli-animated-granular.gif);
            width: 100%;
            height: 100%;
            min-height: 300px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .rack-cli-gif {
            position: absolute; 
            left: 31.2%; 
            top: 25.75%; 
            width: 47%;
            @media screen and (max-width: 1024px) {
                width: 35%;
                left: 36.2%;
                top: 25.75%;
            }
        }
    }
    .cli-text {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        text-align: left;
        font-size: 16px;
        h2 {
            margin-top: 1em;
            text-align: center;
        }
        .action {
            text-align: left;
            margin-top: 4em;
            @media screen and (max-width: 1024px) {
               text-align: center;
            }
        }
        .download-button {
            display: inline-block;
            transition: background .1s ease-in-out;
            background: #3498db;
            border: 1px solid #2f89c5;
            color: #fff;
            padding: .5em 1.5em;
        }
        .info-button {
            border-radius: 1px;
            display: inline-block;
            text-decoration: none;
            -webkit-transition: background .1s ease-in-out;
            -ms-transition: background .1s ease-in-out;
            transition: background .1s ease-in-out;
            border: 1px solid transparent;
            color: #3498db;
            padding: .5em 1.5em;
        }
        @media screen and (max-width: 1024px) {
            text-align: center;
        }
    }
}