{{- define "json-ld" -}}
  {{- partial "seo/json-ld/organization" . -}}
  {{- partial "seo/json-ld/search" . -}}
  {{- partial "seo/json-ld/index" . -}}
{{- end -}}
{{- define "main" -}}
<div id="root"></div>
<div id="modal-root"></div>
  {{- partial "components/hero" .Params.hero }}
  {{- range .Params.features -}}
    {{- partial "components/feature" (dict "pg" $ "feature" .) -}}
  {{- end -}}

  {{- with .Params.cta -}}
    {{- partial "components/cta/quick" . -}}
  {{- end -}}

{{- end -}}
{{- end -}}