<article class="blog-post">
  <a href="{{ .RelPermalink }}"><h2 class="post-title">{{ .Params.headline | default .Title }}</h2></a>
  <div class="post-meta">
    <span class="post-date">{{ .Date .Site.Params.dateFormat }}</span>
    {{- with .Params.categories -}}
    {{- $len := len . -}}
    <span>{{ range $index, $value := . }}
      <a href="{{ "/categories/" }}{{ urlize $value }}" class="post--category"
        data-category="{{ $value | lower }}">
        {{ $value | humanize }}
      </a>{{ if not (eq $len ($index | add 1)) }}, {{- end -}}
      {{- end -}}</span>
    {{- end -}}
  </div>
  <p class="post-excerpt">
    {{- if .Summary -}}
      {{ plainify (htmlUnescape (markdownify .Summary)) }}
    {{ else  }}
      {{ .Content | safeHTML | truncate 140 }}
    {{- end -}}
  </p>
</article>