---
layout: blog-page
title: Rackspace Developer Center
---

{% for post in paginator.posts %}
<div class="blog-tease">
  <h2 class="blog-tease-title"><a href="{{ BASE_PATH }}{{ post.url }}">
    {{ post.title }}</a></h2>
  <div class="byline">By {{ post.author }} - Posted on {{ post.date | date: "%b %-d %Y" }}</div>
  <p>{{post.excerpt}}</p>
  <a href="{{ BASE_PATH }}{{ post.url }}" class="btn btn-primary">Read More</a>
  <hr />
</div>
{% endfor %}

<ul class="pagination">
  <li class="page"><a href="/blog">&laquo; First</a></li>
  {% for page in (1..paginator.total_pages) %}
  {% if page == paginator.page %}
  {% assign page_style = 'current' %}
  {% else %}
  {% assign page_style = '' %}
  {% endif %}

  {% if page == 1 %}
  <li class="page {{ page_style }}"><a href="/blog">{{ page }}</a></li>
  {% else %}
  <li class="page {{ page_style }}"><a href="/blog/page{{ page }}">{{ page }}</a></li>
  {% endif %}

  {% endfor %}
  <li class="page"><a href="/blog/page{{ paginator.total_pages }}">Last &raquo;</a></li>













