---
layout: blog-index
title: Developer Blog - Rackspace Developer Center
description: Cloud Tips and insights blog from Rackspace developers and partners
---

{% for post in paginator.posts %}
<section class="blog-post preview">
    <h3 class="post-title"><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
    <div class="post-info">
        <div class="post-avatar{% if post.authorIsRacker %} racker{% endif %}">
            {% if post.authorAvatar %}
                <img src="{{ post.authorAvatar }}" alt="{{ post.author }}">
            {% else %}
                <img src="https://randomuser.me/api/portraits/lego/1.jpg" alt="Placeholder Avatar">
            {% endif %}

        </div>
        <div class="post-byline"><a href="" class="post-author">{{ post.author }}</a> | <time datetime="{{ post.date | date: "%F" }}">{{ post.date | date: "%B %-d, %Y" }}</time></div>
        <ul class="post-categories">
            <li><a href="">Openstack</a></li>
            <li><a href="">Community</a></li>
            <li><a href="">DevOps</a></li>
        </ul>
    </div>
    <div class="post-preview">
        {{ post.excerpt }}
    </div>
    <a href="{{ BASE_PATH }}{{ post.url }}" class="post-read-more">Read More</a>
</section>
{% endfor %}

<ul class="pagination">
  <li class="page"><a href="/blog">&laquo; First</a></li>
  {% for page in (1..paginator.total_pages) %}
  {% if page == paginator.page %}
  {% assign page_style = 'current' %}
  {% else %}
  {% assign page_style = '' %}
  {% endif %}

  {% if page == 1 %}
  <li class="page {{ page_style }}"><a href="/blog">{{ page }}</a></li>
  {% else %}
  <li class="page {{ page_style }}"><a href="/blog/page{{ page }}">{{ page }}</a></li>
  {% endif %}

  {% endfor %}
  <li class="page"><a href="/blog/page{{ paginator.total_pages }}">Last &raquo;</a></li>
