{{- $isHome := .IsHome -}}
{{- $isDocs := (eq .Section "docs") -}}
{{- $isBlogs := (eq .Section "blogs") -}}


<header class="header buttons-header">
  <div class="block"></div>
  <div class="right-block">
    <nav class="nav">
      <ul class="buttons-nav-items">
        {{- range .Site.Menus.buttons -}}
        {{- if eq .Identifier "buynow" -}}
        <li lass="nav-item" data-signed-out="true">
          <a class="buynow-button button small primary"
            href="{{ .URL | relURL }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a>
        </li>
        {{- else if eq .Identifier "login" -}}
        <li class="nav-item" data-signed-out="true">
          <a class="login-button button small secondary"
            href="{{ .URL | relURL }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a>
        </li>
        {{- end -}}
        {{- end -}}
      </ul>
    </nav>
  </div>
</header>

<header class="header {{ if $isDocs }} docs{{ end }}">
  <div class="left-block">
    <a href="{{ .Site.BaseURL | relURL }}" title="Go to homepage" class="logo"></a>
  </div>
  <div class="right-block">
    <nav class="nav">
      <a href="{{ .Site.BaseURL | relURL }}" class="mini-nav--logo"></a>
      {{- partial "components/navbar_nav.html" .Site.Menus.main . -}}
      {{- if $isDocs -}}
      {{- partial "components/sidebar" . -}}
      {{- end -}}
    </nav>
    <div class="mini-nav--toggle"></div>
  </div>
  <div class="search">
    <input type="search" name="search" placeholder="Search this site" class="search--input">
  </div>
</header>