@import "variables";

header {
    background-color: $header-background;
    .navbar-brand {
        transition: background .1s ease-in-out;
        background-color: $logo-background;
        display: inline-block;
        margin: $image-padding;
        padding: $image-padding;
        .logo-img {
            display: inline-block;
            width: 140px;
          }
      }
    nav {
        margin-right: $header-spacing;
        display: flex;
        .nav-link{
            text-transform: uppercase;
            color: $header-text-color;
            font-family: $developer-font;
        }
        .nav-item.dropdown.show {
            .dropdown-menu.show {
                background-color: $header-background;
                color: $header-text-color;
                .navbar-collapse{
                    min-height: 200px;
                    ul.navbar-nav {
                        flex-direction: column;
                        color: $header-text-color;
                        a.nav-link {
                            visibility: visible;
                            color: $header-text-color;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 992px) {
        .navbar {
            max-height: 70px;
        }
    }
  }