@charset "UTF-8";
/* CSS Document */

header { 
	display:block;
	height:70px;
	background-color:#77818b; 
	border-bottom:2px solid #fff;
}

a {
	color:#fff;
}

header a.logo {
	display:block;
	position:absolute;
	background-position:0px 0px;
	background-repeat:no-repeat;
	width:243px;
	height:30px;
	top:20px;
	left:20px;
	background-image:url(../images/rs-developer-logo.png);
}

header label { 
	position:absolute;
	top:20px;
	right:20px;
	color:#fff;
	font-size:.8em;
	display:inline-block;
}


/* select {
	display:inline-block;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	background-color:#333;
	background-image:url(../images/arrow.png);
	background-repeat:no-repeat;
	background-position:right;
	border:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	font-size:.8em;
	padding:5px;
	margin:0px 10px;
	border-radius:0px;
	text-indent: 0.01px;
 	text-overflow: "";
	width:150px;
}  */

h3 { font-size:1.5em; font-weight:400; }

/* Hero */

div.hero { 
	background-color:#2288dd;
	/* background-image:url(../images/background.jpg); */
	color:#ffffff; 
	display:block; 
	padding:80px 0px 60px 0px; 
	margin:0px;
	text-align:center;
	border-bottom:1px solid #fff;
}

p.hero_header { 
	font-size:2.625em; 
	font-weight:700;
	padding:0px;
	margin:0px;
}

/* More features */

div.features {
	background-color:#fff;
	padding:40px 20px 20px 20px;
	text-align:center;
	border-bottom:1px solid #cdcdcd;
}

.feature_container { padding: 40px 0px 10px 0px; display: block; float: none; }
.feature_container .feature { width:33%; float: left; background-position:center top; padding-bottom:0px; }
.feature_container .feature .text { padding:112px 30px 0px 30px; font-size:.8em; }

.feature { background-repeat:no-repeat; }
.featureContent { max-width:960px; margin:50px auto 40px auto; font-size:1.2em; }
.feature.one { background-image: url(../images/dev2dev-support.png); }
.feature.two { background-image: url(../images/lots-of-free-services.png); }
.feature.three { background-image: url(../images/no-usage-limits.png); }

.clear-fix { clear:both; line-height:1px; }

/* Open source libraries */

.libraries_container { padding: 30px 0px; margin:0px; display: block; max-width:960px; text-align:center; margin: 0px auto; color:#333;  }

.libraries { background-repeat:no-repeat; background-position:center; float: left; padding:120px 0px 0px 0px; }
.libraries.one { background-image: url(../images/java-logo.png); width: 16.6%; }
.libraries.two { background-image: url(../images/ms-dot-net-logo.png); width: 16.6%; }
.libraries.three { background-image: url(../images/node-js-logo.png); width: 16.6%; }
.libraries.four { background-image: url(../images/php-logo.png); width: 16.6%; }
.libraries.five { background-image: url(../images/python-logo.png); width: 16.6%; }
.libraries.six { background-image: url(../images/ruby-logo.png); width: 16.6%; }

/* Footer */

footer { 
	background-color:#000000;
	height:100px;
	display:block;
	color:#eee;
	font-size:.7em;
	text-align:center;
	border-top:2px solid #fff;
}

footer a { 
	color:#eee;
	text-decoration:none;
	padding: 0px 15px;
	border-right: 1px solid #eee;
}

div.footerContent { 
	max-width:960px;
	margin:0px auto;
	padding:20px 0px 0px 0px;
}

div.copyright {
	padding: 20px;
}
