.box {
  font-family: 'Open Sans';
  width: 100%;

  a {
    color: @rackspace-light-blue;
  }

  a.btn-primary {
    color: @rackspace-white;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  .right-promo {
    border-left: @gutter;
  }

  .container {
    padding: (@grid-gutter-width-flighted * 2) 0;
    text-align: center;

    @media (max-width: @screen-md) {
      width: auto;
    }
  }

  h1 {
    font-weight: 700;
    font-size: 42px;
    margin: 0 0 (@grid-gutter-width-flighted / 2) 0;
  }

  h2 {
    font-weight: 600;
    font-size: 28px;
    margin: 0 0 (@grid-gutter-width-flighted * 2) 0;
    color: @rackspace-dark-gray;
  }

  h3 {
    font-weight: 600;
    font-size: 24px;
    margin: 0 0 (@grid-gutter-width-flighted / 2) 0;
  }

  p {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;

    .emphasis {
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  blockquote {
    font-size: 34px;
    font-weight: 300;
    border: 0;
    padding: 0;
    margin-bottom: @grid-gutter-width-flighted / 2;
  }

  .btn {
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    border-radius: 0; // remove when merging
  }

  .btn-sign-up {
    width: 196px;
  }

  &.title {
    background: @rackspace-blue;
    color: @rackspace-white;

    .btn {
      width: 200px;
      color: @rackspace-light-blue;
      margin: @grid-gutter-width-flighted 0 0 0;
    }
  }

  &.docs-apis {
    .container {
      text-align: left;
    }

    h2 {
      text-align: center;
    }

    h3 {
      font-size: 24px;
      font-weight: 600;
      color: @rackspace-dark-gray;
      margin: 0 0 (@grid-gutter-width-flighted / 4) 0;
    }

    p {
      margin: 0 0 (@grid-gutter-width-flighted / 2) 0;
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
    }

    a {
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
    }

  }

  &.dark {
    background-color: @rackspace-dark-gray;
    color: @rackspace-white;

    p {
      margin: 0 0 @grid-gutter-width-flighted 0;
    }

    .new-landing-sprite {
      margin: 0 auto (@grid-gutter-width-flighted / 2) auto;
    }

    h5 {
      font-weight: 400;
      font-size: 16px;
      margin: 0;

      strong {
        font-weight: 600;
      }
    }

    p.item {
      margin: 0;
      font-size: 16px;
    }
  }

  &.quote {
    background-color: @rackspace-off-white;
    color: @rackspace-dark-gray;

    .container {
      text-align: left;
    }

    .quotes {
      font-weight: 400;
    }

    .author {
      font-size: 21px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .author-title {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: @grid-gutter-width-flighted;
    }
  }

  &.blog-box {

    border-top: @gutter;

    .container {
      text-align: left;

      ul > li {
        color: @rackspace-light-blue;
        margin-bottom: @grid-gutter-width-flighted / 2;
      }

      h4 {
        margin: 0 0 (@grid-gutter-width-flighted / 2) 0;
        font-size: 18px;
        font-weight: 600;
      }

      p {
        font-size: 16px;
      }
    }
  }
}

