// data css

.databases-quotes {
    background-color: #F7F7F7;
}

.databases-categories-title {
    font-size: 20px;
    font-style: bold;
}

.databases-products-bin {
    background-color: #F7F7F7;
    margin-top: 10px;
    padding: 10px;

}

.databases-products-bin-selected {
    background-color: #e9e9e9;
    margin-top: 10px;
    padding: 10px;
}

.databases-products-left {
    background-color: #F7F7F7;
    margin-top: 10px;
    padding: 0px;

}

.databases-products-bin-right {
    background-color: #e9e9e9;
    margin-top: 10px;
    padding: 10px;
    height: 500px;
}

.databases-product-well {
    margin: 10px 10px 10px 10px;
    background: #F8F8F8;
    border: 2px solid #cccccc;
    border-radius: 10px;
    padding: 15px;
    font-size: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
