---
layout: blog-index
description: Cloud Tips and insights blog from Rackspace developers and partners
---
<h2 class="category-heading">Posts categorized “{{ page.category }}”</h2>
{% for post in site.categories[page.category] %}
<section class="blog-post preview">
    <h3 class="post-title"><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
    <div class="post-info">
        <div class="post-avatar{% if post.authorIsRacker %} racker{% endif %}">
            {% if post.authorAvatar %}
                <img src="{{ post.authorAvatar }}" alt="{{ post.author }}">
            {% else %}
                <img src="{% asset_path avatar-default.svg %}" alt="Placeholder Avatar">
            {% endif %}

        </div>
        <div class="post-byline"><a class="post-author" href="/blog/authors/{{ post.author | downcase | replace: ' ', '-' }}">{{ post.author }}</a> | <time datetime="{{ post.date | date: "%F" }}">{{ post.date | date: "%B %-d, %Y" }}</time></div>
        <ul class="post-categories">
            {% for category in post.categories %}
                <li><a href="/blog/categories/{{ category | replace: ' ', '-' }}">{{ category }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="post-preview">
        {{ post.excerpt }}
    </div>
    <a href="{{ BASE_PATH }}{{ post.url }}" class="post-read-more">Read More</a>
</section>
{% endfor %}

<div class="pagination">
    <div class="previous">
        {% if paginator.previous_page %}
        <a href="/blog/page{{ paginator.previous_page }}">&larr; Newer Posts</a>
        {% endif %}
    </div>
    <div class="next">
        {% if paginator.next_page %}
        <a href="/blog/page{{ paginator.next_page }}">Older Posts &rarr;</a>
        {% endif %}
    </div>
</div>
