<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>

  <!-- our styles: -->
  {% stylesheet main %}

  <link href="{{ site.subscribe_rss }}" rel="alternate" title="{{ site.name }}" type="application/atom+xml">
</head>
<body>

{% include header.html %}
{{ content }}
{% include footer.html %}

  <div class="redribbon">
    <a href="https://github.com/rackerlabs/developer.rackspace.com/issues/">Join us on Github!</a>
  </div>

  {% javascript app %}

  <!-- syntax highlighter: -->
  <script src="https://yandex.st/highlightjs/8.0/highlight.min.js"></script>
  <script type="text/javascript" src="https://tags.tiqcdn.com/utag/rackspace/developer/prod/utag.js">
  </script>
</body>
</html>
