<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>

  <!-- fonts: -->
  <!-- This will need to be cleaned up before prod. I'm just including every style right now; once the styles are locked down it should be pared down to what's necessary. -->
  <link
    href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic'
    rel='stylesheet' type='text/css'>

  <!-- our styles: -->
  <link rel="stylesheet" href="/less/main.css"/>

</head>
<body>

{% include header.html %}
{{ content }}
{% include footer.html %}

  <script type="text/javascript" src="/js/lib/jquery/jquery-1.11.1.js"></script>
  <script type="text/javascript" src="/js/lib/bootstrap/collapse.js"></script>
  <script type="text/javascript" src="/js/lib/bootstrap/dropdown.js"></script>

  <!-- syntax highlighter: -->
  <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>











