<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>

  <!-- our styles: -->
  {% stylesheet main %}

  <link href="{{ site.subscribe_rss }}" rel="alternate" title="{{ site.name }}" type="application/atom+xml">
</head>
<body>

{% include header.html %}
{{ content }}
{% include footer.html %}

  <div class="redribbon">
    <a href="https://github.com/rackerlabs/developer.rackspace.com/issues/">Join us on Github!</a>
  </div>

  {% javascript app %}

  <!-- syntax highlighter: -->
  <script src="https://yandex.st/highlightjs/8.0/highlight.min.js"></script>
  <!-- analytics -->
<script type="text/javascript">
   var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35639070-1']);
    _gaq.push(['_setDomainName', 'rackspace.com']);
    _gaq.push(['_trackPageview']);

   (function () {
       var ga = document.createElement('script');
       ga.type = 'text/javascript';
       ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
   })();
 </script>
</body>
</html>
