---
layout: default
---
<div class="container body-container">
  <div class="row">
    <div class="col-md-3 sidebar">
      <ul>
        <li><span class="sidebarheader">Developer Center</span></li>
        <li><a href="#">SDKs &amp; Tools</a></li>
        <li><a href="#">Conference Sponsorship</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Developer Discount</a></li>
      </ul>

      <div class="callout">
        <span class="sidebarheader">Need Help?</span>

        <p>Tweet <a href="#">@rackspace</a>, chat in #rackspace on Freenode, or post in <a href="#">our developer
          forums</a>.</p>
      </div>

      <div class="callout">
        <span class="sidebarheader">Found a bug? Caught a typo?</span>

        <p><a href="#">Submit bug reports</a> and <a href="#">contribute to this document</a> throught our devsite
          github
          repo.</p>
      </div>
    </div>
    <div class="col-md-9 bodycontent">
      {{ content }}
    </div>
  </div>
</div>