<section class="blog-post single">
    <div>
        <h1 class="post-title">{{ post.title }}</h1>
        <div class="post-info">
            <div class="post-avatar racker">
                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/gerrenlamson/73.jpg" alt="FPO Image">
            </div>
            <div class="post-byline"><a href="" class="post-author">{{ post.author }}</a> | <time datetime="2015-07-20">July 20, 2015</time></div>
            <ul class="post-categories">
                <li><a href="">Openstack</a></li>
                <li><a href="">Community</a></li>
                <li><a href="">DevOps</a></li>
            </ul>
        </div>
        {{ content }}
        <div class="author-bio">
            <div class="avatar racker">
                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/gerrenlamson/128.jpg" alt="FPO Image">
            </div>
            <div class="author-info">
                <span class="name">Everett Toews</span>
                <div class="bio">Everett is a Rackspace Developer Advocate, he's from Canada (I think) and he's a super-nice guy. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed qui iste non quos, consequuntur nulla est eaque animi adipisci consectetur ipsam perspiciatis harum vitae voluptatibus assumenda eveniet. Unde, dolor, ex.</div>
            </div>
        </div>
    </div>
</section>
