---
layout: blog-page
---

<h1 class="title">{{ page.title }}</h1>
<div class="byline">By {{ page.author }} - Posted on {{ page.date | date: "%b %-d %Y" }}</div>

{% capture category %}{% if post %}{{ post.categories | category_links | size }}{% else %}{{ page.categories | category_links | size }}{% endif %}{% endcapture %}
{% unless category == '0' %}
<div class="categories">
  {% if post %}
    {{ post.categories | category_links }}
  {% else %}
    {{ page.categories | category_links }}
  {% endif %}
</div>
{% endunless %}

<p>{{ content }}</p>
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include disqus.html %}</div>
  </section>
{% if page.previous || page.next %}
<div class="row">
  <div class="col-md-12">
    <hr />
  </div>
</div>
<div class="row">
{% if page.previous %}
  <div class="col-md-6">
    <div class="related-pretitle">Previous Article</div>
    <span class="related-title"><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></span>
  </div>
  {% endif %}
  {% if page.next %}
  <div class="col-md-6">
    <div class="related-pretitle">Next Article</div>
    <span class="related-title"><a href="{{ page.next.url }}">{{ page.next.title }}</a></span>
  </div>
  {% endif %}
</div>
{% endif %}
