.site-footer {
    background: #3b3f45;
    padding: 40px 0;
    .footer-container {
        padding: 0 35px;
        display: block;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        padding: 0 5%;
        width: 100%;
        .docs-links {
            display: inline-block;
            margin-right: -.26rem;
            margin-left: 0;
            vertical-align: top;
            width: calc(41.66666667% - 0px);
            ul {
                display: inline-block;
                margin-right: -.26rem;
                margin-left: 0;
                vertical-align: top;
                width: calc(50% - 0px);
                list-style-type: none;
                li {
                    margin-bottom: .5em;
                }
            }
        }
    }
    h5{
        font-family: "titillium-bold" ,arial,sans-serif;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 20px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    a {
        color: #FFFFFF;
        font-size: 12px;
        line-height: 2;
        text-decoration: none;
    }
    .community-links {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        display: inline-block;
        margin-right: -.26rem;
        margin-left: 0;
        vertical-align: top;
        width: calc(16.66666667% - 0px);
        ul{
            list-style-type: none;
        }
    }
    .partner-links {
        ul{
            list-style-type: none;
        }
    }
    
}

.basement-container {
    display: block;
    background: #000;
    padding: 20px;
}