.recent-posts,
.categories {

    ul,
    ol {
        list-style-type: none;
    }
}

.sidebar {
    display: flex;
    vertical-align: top;
}

.blog-sidebar {
    .recent-posts {
        padding: 20px 0;

        h5 {
            padding: 0 20px;
        }

        .tab-links {
            margin-bottom: 20px;
            display: block;
            width: calc(100% + 0px);
            margin-left: 0;
            overflow: hidden;

            a.active {
                border-bottom-color: #3498db;
                text-decoration: none;
            }

            a {
                display: inline-block;
                margin-right: -.26rem;
                margin-left: 0;
                vertical-align: top;
                width: calc(50% - 0px);
                background: rgba(0, 0, 0, .05);
                border-bottom: solid 4px transparent;
                border-bottom-color: transparent;
                color: #474747;
                font-size: 12px;
                line-height: 36px;
                text-align: center;
            }
        }

        ol {
            padding: 0 20px 0 40px;
            font-size: 13px;
            margin: 0;
        }
    }

    padding: 0;

    section+section {
        border-top: solid 1px #e0e0e0;
    }

    section {
        padding: 20px;

        h5 {
            font-size: 128.57142857%;
            margin-bottom: 20px;
            color: #636363;
            text-transform: uppercase;
        }
    }
    .categories {
        ul {
            font-size: 13px;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
    }
}