$developer-font : "open-sans-bold" ,arial,sans-serif;
$header-background: #000000;
$logo-background: #EB0000;
$header-spacing: 40px;
$header-sub-spacing: 16px;
$list-padding: 35px;
$header-text-color: #FFFFFF;
$text-padding: 5px;
$image-padding: 15px;