
<div class="box docs-apis">
    <div class="container">
        <h1>Developer Documentation</h1>
        <p>Whether you’re just getting started with the Rackspace Cloud or looking for reference on a product you’ve
            been using for a while, we’ve got the right documentation to get you on your way.</p>
        <div class="tools-promos row">
            <div class="promo sdks col-sm-12 col-md-6 col-lg-6">
                <div class="card yellow">
                    <div class="card-content">
                        <div class="card-image">
                            <img src="/img/hexagon-rocket.svg" alt="hexagon rocket">
                        </div>
                        <h3 class="card-title">SDKs &amp; Tools</h3>
                        <div class="card-subtitle">
                            <span>
                                <i class="fa fa-long-arrow-left"></i>SDKs <i class="fa fa-long-arrow-right"></i>
                               </span>
                        </div>
                        <div class="card-body">
                            <p>We have SDKs for most major dev platforms, including Java, .NET, Node.js, PHP, Python,
                                and Ruby.</p>
                            <a href="https://docs.rackspace.com/docs/#sdks" class="card-action">Explore tools</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="promo apis col-sm-12 col-md-6 col-lg-6">
                <div class="card red">
                    <div class="card-content">
                        <div class="card-image">
                            <img src="/img/hexagon-terminal.svg" alt="hexagon terminal">
                        </div>
                        <h3 class="card-title">Product Guides</h3>
                        <div class="card-subtitle">
                           <span>
                            <i class="fa fa-long-arrow-left"></i>APIs <i class="fa fa-long-arrow-right"></i>
                           </span>
                        </div>
                        <div class="card-body">
                            <p>Learn the capabilities of our APIs with Getting Started, Reference, and
                                Developer guides.</p>
                            <a href="https://docs.rackspace.com/docs" class="card-action">Read product guides</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>