<footer class="footer">
  <div class="container">
    <div class="row">
      {{- range .Site.Menus.footer -}}
      <div class="col-sm-12 col-md-6 col-lg-4">
        <span class="footer-title">{{ .Name }}</span>
        {{- if .HasChildren -}}
        <ul>
          {{- range .Children -}}
          <li><a href="{{ .URL }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a></li>
          {{- end -}}
        </ul>
        {{- end -}}
      </div>
      {{- end -}}
    </div>
  </div>
  <div class="lower-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4"><span>©2020 Rackspace US, Inc.</span></div>
        <div class="text-link col-sm-12 col-md-6 col-lg-2"><a href="https://www.rackspace.com/about/">About
            Rackspace</a></div>
        <div class="text-link col-sm-12 col-md-6 col-lg-2"><a
            href="http://www.rackspace.com/information/legal/privacystatement">Privacy Statement</a></div>
        <div class="text-link col-sm-12 col-md-6 col-lg-2"><a
            href="http://www.rackspace.com/information/legal/websiteterms">Website Terms</a></div>
        <div class="text-link col-sm-12 col-md-6 col-lg-2"><a
            href="http://www.rackspace.com/information/legal/copyrights_trademarks">Trademarks</a></div>
      </div>
    </div>
  </div>
</footer>